# Bonus: Temperature Analysis I

In [47]:
import pandas as pd
from datetime import datetime as dt

In [28]:
# "tobs" is "temperature observations"
df = pd.read_csv('./Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [29]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'],format ='%Y-%m-%d')

In [30]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [24]:
# Drop the date column

### Compare June and December data across all years

In [48]:
from scipy import stats
import numpy as np

In [45]:
# Filter data for desired months
june = df.loc[df.date.dt.month == 6]
december = df.loc[df.date.dt.month == 12]
december.head()

         station       date  prcp  tobs
305  USC00519397 2010-12-01  0.04    76
306  USC00519397 2010-12-03  0.00    74
307  USC00519397 2010-12-04  0.00    74
308  USC00519397 2010-12-06  0.00    64
309  USC00519397 2010-12-07  0.00    64

In [37]:
# Identify the average temperature for June
june.tobs.mean()

74.94411764705882

In [38]:
# Identify the average temperature for December
december.tobs.mean()

71.04152933421226

In [51]:
# Create collections of temperature data
june_temp = june['tobs']
dec_temp = december['tobs']
june_temp = np.random.choice(june_temp,1000)
dec_temp = np.random.choice(dec_temp,1000)

In [52]:
# Run paired t-test
stats.ttest_rel(june_temp,dec_temp)

Ttest_relResult(statistic=24.353128784012263, pvalue=3.295685222481185e-103)

### Analysis

A paired t-test is used as the temperature is taken by the same locations in both June and December.
The p-value is very small indicating that the difference in means is not due to chance and the difference is statistically significant.